@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* cuore che pulsa */
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite; color: #ff0000;  /* colore */
}

/* rettangolo logo info stampa pdf */
#print-site-banner {border-color: #ff0000!important; border-radius: 10px!important; }

/* suggerimento */
#suggerimento {
  font-size: 0.6rem !important;
}
